/*
  ==Pages 
    This file contains the styles for the pages of the application.
    it will add as well breakpoints for the pages.
*/

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.app {
  display: flex;
  margin: 0 auto;
  max-width: 1012px;

  flex-direction: column;
}
