/*
  ==Pages 
    This file contains the styles for the pages of the application.
    it will add as well breakpoints for the pages.
*/

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.app {
  display: grid;
  grid-template-areas: "sidebar" "main-page";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  min-height: 100vh;
  width: 100%;

  @include respond-to(xl) {
    grid-template-areas: "sidebar main-page";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
  border-right: none;

  @include respond-to(xl) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.main-page {
  grid-area: main-page;
}
